html, span, p, body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: verdana;
}
header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo span {
    font-weight: 700;
    color: #495057;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 32px;
}
.logo p {
    text-transform: uppercase;
    color: #6c757d;
}
.meniu a {
    text-decoration: none;
    color: #495057;
}
.meniu li {
    list-style: none;
    display: inline-block;
    text-indent: 16px;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding-left: 24px;
    padding-right: 24px; */
}
.learn {
    background-color: #adb5bd;
}
.learn .container {
    display: flex;
    align-items: center;
}
.banner-left {
    width: 60%;
}
.banner-left img {
    width: 100%;
    padding: 32px 0;
}
.banner-right {
    width: 40%;
    margin-left: 24px;
    color: #202020;
}
.banner-right h1 {
    font-size: 52px;
}
.banner-right h3 {
    font-size: 24px;
}
.banner-right button {
    background-color: #333533;
    border: none;
    color: white;
    padding: 8px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
.practice {
    display: flex;
}
.practice-left {
    padding: 32px 24px 32px 0;
    width: 60%;
}
.practice-left h3 {
    padding-bottom: 24px;
}
.practice-left img {
 width: 100%;
 padding-bottom: 32px;
}
.practice-left span {
    display: block;
    padding-top: 24px;
}
.practice-right {
    padding-top: 16px;
    padding-bottom: 32px;
    border-left: 1px solid #adb5bd;
}
.practice-right > div {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #adb5bd;
}
.practice-right > div:hover{
    background-color: #adb5bd;
    
}
.practice-right img {
    width: 35%;
    margin-right: 25px;
}
.practice-right p {
    padding: 8px 0;
}
.practice-right a {
    text-decoration: none;
}
.third-container {
    background-color: #adb5bd;
    padding-bottom: 32px;
}
.learning h2 {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 30px;
}
.courses .name {
    font-weight: 700;
    font-size: 20px;
}
.courses {
 display: grid;
 grid-template-columns: repeat(3, auto);
 column-gap: 32px;
 row-gap: 32px;
 padding: 0 48px;
}
.courses > div {
    background-color: white;
}
.courses img {
    width: 100%;
}
.courses div div {
    padding: 16px;
}
.courses p {
    padding-bottom: 8px;
}
.courses .category {
    text-transform: uppercase;
}